h2{
    
    font-family: "Ink Free", Times, serif;
    font-weight: bolder;
    font-style:initial


}
.h{
    font-family:'Times New Roman', Times, serif;
    font-weight: 500 px;
    font-size: large;
    font-weight: bold;
}
.m{
    color: rgb(233, 228, 225);
}

h1{
    
    font-family: "Ink Free", Times, serif;
    font-weight: bold;
    color: beige;
    font-size: xx-large;
    font-style: oblique;
    
}


label{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(39, 39, 38);
}
body, html {
    height: 100%; 
}
.form-container {
    background-color: white;
    padding: 0.5rem; /* Default padding */
    border-radius: 5px;
    bottom: 0;
    width: 50%;
    height: 160px;
   
   
   
  }
  @media (min-width: 576px) {
    .form-container {
      padding: 1.5rem; /* Small devices */
    }
  }
  @media (min-width: 768px) {
    .form-container {
      padding: 2rem; /* Medium devices */
    }
  }
  @media (min-width: 992px) {
    .form-container {
      padding: 2rem; /* Large devices */
    }
  }
  @media (min-width: 1200px) {
    .form-container {
      padding: 2rem; /* Extra large devices */
    }
  }
  .c-item{
    height: 500px;

  }
  .c-image{
     height:100%;
     object-fit: cover;
     filter: brightness(0.3);
     
  }
  .c-image1{
    height:100%;
    object-fit: cover;
    filter: brightness(0.3);
    bottom: 0;
  }
  .hu{
   
  }
  