.f{
    
    font-family: "Ink Free", Times, serif;
    font-weight: bolder;
    font-style:initial


}
.h{
    font-family:'Times New Roman', Times, serif;
    font-weight: 500 px;
    font-size: large;
    font-weight: bold;
}
.m{
    color: rgb(233, 228, 225);
}