.f{
    
    font-family: "Ink Free", Times, serif;
    font-weight: bolder;
    font-style:initial


}
.h{
    font-family:'Times New Roman', Times, serif;
    font-weight: 500 px;
    font-size: large;
    font-weight: bold;
}
.m{
    color: rgb(233, 228, 225);
}
.hehe{
   background-image:linear-gradient(rgba(40, 37, 37, 0.6), rgba(42, 41, 41, 0.6)), url(blkbg2.jpg);
   background-attachment: scroll;
   background-position:top right;
   height: 600px;
   
}
h1{
    
    font-family: "Ink Free", Times, serif;
    font-weight: bold;
    color: rgb(45, 45, 45);
    font-size: xx-large;
    font-style: oblique;
    
}
h3{
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}

.hey{
    background-color: aliceblue;
}
